

@font-face {
	font-family: "supercell-magicregular" ;
	font-style :normal;
	font-weight: normal;
	src: local("?"), url("../fonts/Supercell-magic-webfont.ttf") format("truetype"), url("../fonts/Supercell-magic-webfont.woff") format("woff");
}
body, html{
	height:100%;
	padding:0px;
	margin:0px
}

body {
	font-family: supercell-magicregular;
	font-size: 2vw;
	background:url(../img/fondo_desktop.jpg) no-repeat center center fixed;
	background-size: cover;
}

.caja{
	background-color: black;
    width: 86%;
    margin-top: 3vh;
    margin-left: 4%;
    border: 3px solid gold;
	border-radius: 25px;
	color:white;
	text-align:center;
	padding: 0% 3% 0% 3%;
	float:left;
}
.caja_jugar{
	background-color: black;
    width: 30%;
	margin-bottom: 2vh;
    margin-left: 35%;
    border: 3px solid gold;
	border-radius: 25px;
	color:white;
	text-align:center;
	padding: 1%;
	float:left;
}
h1{
	color:#488bf4;
	text-align:center;
	margin-bottom: 1vh;
}
h1 em{}
p{
	text-align: left;
    margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2vh;
	margin-top: 1vh;
    padding: 2%;
    border: 3px solid saddlebrown;
    border-radius: 25px;
}
.p_jugar{
	font-size: 1vw;
	text-align: center;
    margin: auto;
    padding: 1%;
    border: 3px solid saddlebrown;
    border-radius: 25px;
}
p em{
	color:lawngreen;
}
.cabecera{
	width:6vw;
}
.titulom{
	display:none
}
.caja_jugar:hover,.caja_jugar:active{
	color:lawngreen;
	width: 60%;
	margin-left: 20%;
	background-color: #488bf4;
}
.caja_jugar:hover .p_jugar, .caja_jugar:active .p_jugar{
	font-size: 2vh !important;
	text-transform: uppercase;
	background-color: black !important;
}