
/*Fuente cargada, para el formato del texto */
@font-face {
	font-family: "supercell-magicregular" ;
	font-style :normal;
	font-weight: normal;
	src: local("?"), url("../fonts/Supercell-magic-webfont.ttf") format("truetype"), url("../fonts/Supercell-magic-webfont.woff") format("woff");
}
body,html{
	height:100%;
	padding:0px;
	margin:0px
}

body {
	font-family: supercell-magicregular;
	font-size: 3vw;
	background:url(../img/fondo_movil.jpg) no-repeat center center fixed;
	background-size: cover;
}
a{
	color: lawngreen;
}

#hidem,#showm{
	float:right;
}
#hidem{
    width: 90%;
}
#showm{
	float:right;
	margin: 7% 7% 0% 0%;
	padding: 3%;
}
.a{
	width:100%;
	height:50%;
	overflow:hidden;
	position:fixed;
	top:0px;}
.b{
	width:100%;
	height:100%;
	overflow:hidden;}
.c {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display:none;
	z-index:2;
	
	    margin: 5%;
	margin-bottom: 50%;
    border: gold 4px solid;
    border-radius: 7px;
    background: black;
}

.d{
	height:15%;
	width:100%;
	position:fixed;
	bottom:0px;
	z-index:0;
}

.luna{
	width:100vw;
}


#nave{
	text-align:center;
	position:fixed;
	width:100%;
	height:20%;
	z-index:1;
	}
	
#nave img{
	height:100%;
}


.tierrafondoHor{
	position: relative;
	z-index: 1;
}

.tierrafondo{
	display:none;
}

#cpanel{
	margin-top: 8%;
}



.a ul{
	list-style-type:none;
	padding-left: 5vw;
}

.a li{
	color:lawngreen;
	text-align: left;
    padding-left: 1%;
}

#velocidad,#fuel,#altura,#dificultad{
	background-color: black;
    height: max-content;
    width: 24%;
	margin-top: 1vh;
    margin-bottom: 1vh;
    border: 3px solid gold;
	border-radius: 7px;
	color:white;
	text-align:center;
}



#barraltura,#barrafuel,#barravelocidad,#barradificultad{
	color: #ffffff;
	height:100%;
	width:96%;
	border-radius: 5px;
	border: saddlebrown solid 2px;
}


#menu{
	list-style-type:none;
}

.mostrarMenu{
    float: left;
    height: 15%;
    margin: 7%;
    text-align: center;
    margin-left: 25%;
}
.configuracion{
	text-align: center;
    background-color: black;
    border: 3px solid gold;
    border-radius: 7px;
}
.mostrarMenu i{
	color: #ffffff;
	border-radius: 5px;
	border: saddlebrown solid 2px;
}

.mostrarCabecera{
	float: right;
    height: 15%;
	width:100%;
    margin-top: 7%;
	margin-right: 5%;
	padding: 2% 0% 2% 0%;
    text-align: center;
	color: #ffffff;
	border-radius: 5px;
	border: saddlebrown solid 2px;
}
.cabecera{
	width: 14vw;
	padding: 0% 2% 0% 2%;
}
.menu-item{
    float: right;
    height: 30%;
    margin: 8% 25% 8% 10%;
    text-align: center;
}
.caja{
	text-align: center;
    background-color: black;
    border: 3px solid gold;
    border-radius: 7px;
}

.menu-item i{
	color: #ffffff;
	border-radius: 5px;
	border: saddlebrown solid 2px;
}


.instrucciones,.acercade{
	cursor:help;
}

.menu-item:hover i,.mostrarMenu:hover i{
	color:lawngreen !important;
	background-color: black !important;
}
.menu-item:hover .caja,.mostrarMenu:hover .configuracion{
	border: 5px solid gold;
	padding:4%;
	background-color: #488bf4;
	width: fit-content;
}
.menu-item:hover{
	margin: 8% 24% 8% 8%;
}
.mostrarCabecera:hover{
	color:lawngreen !important;
	border: 5px solid saddlebrown;
	background-color: #488bf4;
	font-size: 4vw;
	margin-right: 4%;
}
.mostrarCabecera:hover .cabecera{
	padding:0%;
}
