body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rigth {
    text-align: right;
}

.bg-verde {
    background-color: green !important;
}

.bg-rojo {
    background-color: red !important;
}

.bg-gris {
    background-color: gray !important;
}

.logoStyle {
    width: 100%;
    align-content: center;
}