$font_base_size: 13px;
$font_base_size_mov: 11px;
$font_nav_size: $font_base_size * 1.25;
$h2_size: $font_base_size * 1.8;
$h3_size: $font_base_size * 1.2;
$fontAwesome_sive: 24px;
$font_article_size: $font_base_size * 1.2;
$font_base_movil_size: 11px;
$icon_bar_size: 50px;
// medidas para media query
$min_pc: 1025px;
$min_tablet: 650px;

html {
  font-size: $font-base-size;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
h3 {
  text-decoration: underline;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  header {
    height: 140px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position-x: left;
    display: flex;
    justify-content: flex-end;
    @media (max-width: $min_pc) {
      background-size: contain;
    }
    @media (max-width: $min_tablet) {
      background-size: contain;
      height: 90px;
    }
    .bar {
      display: none;
      @media (max-width: $min_pc) {
        display: block;
        margin: auto;
        margin-left: 50%;
        // padding-left: 20%;
      }
      i {
        font-size: $icon_bar_size;
        @media (max-width: $min_pc) {
          font-size: $icon_bar_size * 0.8;
        }
      }
    }
    .social_media {
      margin: 5px;
      @media (max-width: $min_tablet) {
        margin: 20px 5px;
      }
    }
    a {
      text-decoration: none;
      color: black;
    }
    i {
      font-size: $fontAwesome_sive;
      margin: 3px;
      @media (max-width: $min_tablet) {
        margin: 20px 5px;
      }
    }
  }
  nav {
    font-size: $font_nav_size;
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    @media (max-width: $min_pc) {
      display: none;
    }

    a {
      padding: 0 20px;
      color: white;
      text-decoration: none;
      border: 0px;
      &:hover {
        color: #397881;
      }
      &:visited {
        color: #baad4a;
      }
      &:active {
        color: #828f80;
      }
    }
  }
  .banner {
    height: 400px;
    margin: 5px 0;
    overflow: hidden;
    @media (max-width: $min_pc) {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .body_news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .leftContent {
      width: 70%;
      @media (max-width: $min_pc) and (min-width: $min_tablet) {
        width: 50%;
      }
      @media (max-width: $min_tablet) {
        width: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      article {
        max-width: 320px;
        width: 100%;
        margin: 5px auto;
        @media (max-width: $min_tablet) {
          width: 100%;
          margin: 5px;
          max-width: inherit;
        }
        img {
          width: 320px;
          height: auto;
          @media (max-width: $min_tablet) {
            width: 100%;
          }
        }

        h3 {
          color: #828f80;
          font-weight: bold;
          font-size: $h3_size;
        }
        p {
          text-align: justify;
          font-family: "Times New Roman", Times, serif;
          font-size: $font_article_size;
        }
      }
    }
    aside {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: $min_pc) and (min-width: $min_tablet) {
        width: 50%;
        justify-content: start;
      }
      @media (max-width: $min_tablet) {
        width: 100%;
      }

      h2 {
        padding: 5px 35px;
        @media (max-width: $min_pc) and (min-width: $min_tablet) {
          padding: 0 2%;
        }
        @media (max-width: $min_tablet) {
          width: 100%;
          padding: 5px;
        }
      }
      .new {
        width: 60%;
        margin: auto;
        @media (max-width: $min_pc) {
          width: 95%;
          margin: 0;
          padding: 0 2%;
        }
        h3 {
          font-weight: bold;
          font-size: $h3_size;
        }
        p {
          text-align: justify;
          font-family: "Times New Roman", Times, serif;
          font-size: $font_article_size;
        }
      }
      hr {
        width: 70%;
        color: black;
      }
    }
  }

  footer {
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 5px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    color: white;
    div {
      border: white 1px dotted;
      width: 33.1%;
      @media (max-width: $min_tablet) {
        width: 50%;
      }
    }
    .footer_left {
      /* background-image: url("../img/logo.png");
    background-repeat: no-repeat; */
      img {
        filter: grayscale(100%);
        max-width: fit-content;
        @media (max-width: $min_pc) {
          width: 90%;
        }
        @media (max-width: $min_tablet) {
          width: 95%;
        }
      }
      .address {
        padding: 5px 10px;
        width: auto;
        border: none;
        h3 {
          font-size: $h3_size;
        }
        p {
          text-align: start;
          font-family: "Times New Roman", Times, serif;
          font-size: $font_article_size;
        }
      }
    }
    .foot_center {
      display: block;
      @media (max-width: $min_tablet) {
        display: none;
      }
    }
    .footer_rigth {
      height: 300px;
      display: flex;
      flex-direction: column;
      //flex-flow: row wrap;
      //align-items: left;
      justify-content: center;
      margin: auto;
      .list {
        width: 50%;
        border: none;
        padding: 15px;
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        @media (max-width: $min_tablet) {
          width: 100%;
        }
        a {
          padding: 0 10px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

/* @media (min-width:1025px){
    
    
    
    
    
} */
/* @media (min-width : 650px ) and (max-width:1025px){


}
@media (max-width:650px){

    
} */
